body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: black;
  font-size: 44px;
  font-weight: 100;
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
  color: (135, 135, 136);
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.form-wrapper {
  max-width: 600px;
  margin: 30px auto;
  border: 3px solid lightblue;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  opacity: 0.8;
}

.weather-app {
  border: 3px solid lightblue;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  opacity: 0.8;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  width: 64px;
  height: 64px;
  margin-right: 6px;
}

.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 1;
  top: -34px;
}

.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  columns: black;
}

.weather-forecast-date {
  margin-top: 16px;
  opacity: 0.5;
  color: black;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.last-updated {
  font-size: 12px;
  text-align: center;
}
.coder {
  text-align: center;
  font-size: 10px;
  font-family: monospace;
  margin: 10 px auto;
}
