body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Franklin Gothic Medium";
  color: black;
  font-size: 54px;
  font-weight: 100;
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
  color: (135, 135, 136);
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.form-wrapper {
  max-width: 600px;
  margin: 30px auto;
  border: 4px solid #85969d;
  padding: 20px;
  border-radius: 15px;
  background-color: #e46343;
  opacity: 0.8;
}

.weather-app {
  border: 4px solid #e46343;
  padding: 20px;
  border-radius: 15px;
  background-color: #85969d;
  opacity: 0.8;
}

.overview {
  margin-bottom: 20px;
}
.weather-temperature,
.outside {
  align-items: center;
  justify-content: center;
}
.weather-temperature img {
  width: 64px;
  height: 64px;
  margin-right: 6px;
}

.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  color: black;
}

.weather-temperature .units {
  position: relative;
  font-size: 1;
  top: -34px;
  font-weight: 400;
}

.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  columns: black;
  color: black;
  margin-left: 35px;
}

.weather-forecast-date {
  margin-top: 16px;
  opacity: 0.9;
  color: black;
  font-weight: 700;
  font-family: "Franklin Gothic Medium";
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.last-updated {
  font-size: 14px;
  text-align: left;
  color: black;
}

.coder {
  font-family: monospace;
  font-size: 14px;
  color: white;
  display: block;
  text-align: center;
  max-width: 600px;
  margin: 30px auto;
}

@media (max-width: 900px) {
  .weather-temperature {
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  .col-md-6 {
    margin-bottom: 0;
    padding: 1;
  }
  .form-wrapper {
    text-align: center;
    padding: 20px;
  }
  .form {
    padding: 5px;
  }
  .last-updated {
    text-align: center;
  }
  .coder {
    text-align: center;
    margin: 10px auto;
  }
}
